.container{
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    
 
}

.box{
    text-align: center;
    font-size: 20px;
    line-height: 90px;
    width: 200px;
    height: 100px;
    color: white;
  

}

.box1{
    background-color: aquamarine;
    order: 1;
}

.box2{
    background-color: green;
 
      
}

.box3{
    background-color: blue;
}
.box4{
    background-color: blueviolet;
   
    
}

.box5{
    background-color: black;
}

.box6{
    background-color:orange;
    
   
}

.box7{
    background-color: orangered;
    order: -1;
}


.box8{
    background-color: red;
    
}

.box9{
    background-color: darkgrey;
}

.box10{
    background-color: grey;
   
}
